<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <table border="1">
        <caption>
            <h3>Users</h3>
        </caption>
        <tr>
            <colgroup>
                <col span="5" style="background-color: red">
            </colgroup>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}">VALUE</td>
            <td th:utext="${user.getName()}">VALUE</td>
            <td th:utext="${user.getLastName()}">VALUE</td>
            <td th:utext="${user.getAge()}">VALUE</td>
            <td>
                <a th:href="@{/{id}(id=${user.getId()})}">
                    <input type="submit" value="UPDATE">
                </a>
                <br>
                <br>
                <a th:href="@{/delete/{id}(id=${user.getId()})}" >
                    <input type="submit" value="DELETE"/>
                </a>
            </td>
        </tr>
    </table>
    <br>
    <form method="get" action="/new">
        <button type="submit">ADD USER</button>
    </form>
</div>
</body>
</html>